<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
  <style>
    body{
      background: black;
      color: #ddd;
    }
    h2{
      color: skyblue;
    }
    button{
      background: black;
      color: #ddd;
      padding: 25px 10px;
      outline: none;
      border: none;
    }
  </style>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>We're glad to have you on board at {{company}}. </p>
  <button class="btn">Click Here</button>
</body>
</html>